* {
    box-sizing: border-box;
}

p,
h1,
h2 {
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.modal {

    &--open {
        
        & .modal__window {
            opacity: 1;
            z-index: 99;
            transform: translateY(100px);
        }

        & .modal__overlay {
            opacity: 1;
            z-index: 99;
            background: rgba(0, 0, 0, 0.5);
            overflow: auto;
        }
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0);
        z-index: -1;
        opacity: 0;
        transition: background .3s ease-in;
    }

    &__window {
        max-width: 600px;
        background: #FFFFFF;
        min-height: 632px;
        margin: 0 auto 20px auto;
        z-index: -1;
        opacity: 0;
        transform: translateY(-700px);
        transition: transform .3s ease;
    }

    &__close {
        font-size: 35px;
        cursor: pointer;
    }
}

.open-button {
    cursor: pointer;
}

.form {
    padding: 40px 54px 35px 54px;

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 23px;
    }

    &__title {
        font-weight: 900;
        font-size: 35px;
        line-height: 41px;
        color: #000000;
        letter-spacing: 0.02em;
    }

    &__body {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    &__item {
        margin-bottom: 20px;
        position: relative;
        padding-top: 14px;

        &-phone {
            margin-left: 12px;
        }

        &-textarea {
            margin-bottom: 30px;
        }

        &--error {
            margin-bottom: 17px;

            & .form__item-title {
                color: #F36363;
            }

            & .form__input {
                border: 1px solid #F36363;
            }

            & .form__error-text {
                display: block;
            }
        }
    }

    &__item-title {
        font-size: 12px;
        line-height: 14px;
        color: #A5A5A5;
        position: absolute;
        top: 0;
        left: 20px;
        transition: all .2s;
        cursor: pointer;
    }

    &__input {
        font-family: inherit;
        width: 240px;
        height: 50px;
        background: #FDFDFD;
        border: 1px solid #A5A5A5;
        border-radius: 5px;
        font-size: 16px;
        line-height: 22px;
        padding-left: 20px;
        color: #1C1C1C;

        &:placeholder-shown + .form__item-title {
            transform-origin: left bottom;
            transform: translateY(35px) scale(1.25);
        }

        &::placeholder {
            opacity: 0;
        }

        &:focus::placeholder {
            opacity: 1;
        }

        &:not(:placeholder-shown) + .form__item-title,
        &:focus + .form__item-title {
            transform: translateY(0) scale(1);
        }
    }

    &__input-textarea {
        width: 492px;
        height: 150px;
        resize: none;
        padding-top: 13px;
        background: #FAFAFA;
    }

    &__error-text {
        display: none;
        font-size: 12px;
        line-height: 14px;
        color: #F36363;
        margin-left: 20px;
        margin-top: 3px;
    }

    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__privacy-note {
        font-size: 13px;
        line-height: 15px;
        color: #1C1C1C;
        max-width: 440px;
        margin-bottom: 30px;
        margin-left: -24px;
    }

    &__link {
        color: #1C1C1C;
    }

    &__submit-button {
        background: #F9C73B;
        border-radius: 5px;
        width: 220px;
        height: 50px;
        border: 0;
        cursor: pointer;
        font-family: inherit;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #151515;
    }
}

@media screen and (max-width: 600px) {
    .form {
        padding: 40px 20px 35px 20px;

        &__header {
            justify-content: center;
        }

        &__title {
            font-size: 28px;
            margin-right: 20px;
        }

        &__body {
            flex-direction: column;
            align-items: center;
        }

        &__item {
            width: 240px;

            &-phone {
                margin-left: 0;
            }
        }

        &__input-textarea {
            width: 240px;
        }

        &__privacy-note {
            margin-left: 0;
            text-align: center;
            max-width: 400px;
        }
    }

    .modal {

        &__window {
            max-width: 450px;
        }

        &__close {
            font-size: 28px;
        }
    }
}